<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luo.diamonds.mapper.MemberMapper">

    <select id="findByUserName" resultType="com.luo.diamonds.model.entity.Member">
        select * from `member` where account=#{userName}
    </select>
</mapper>
